main {
  padding: 30px 20px 30px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list__img img {
  width: 50px;
}

.item-list_info {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list_info div {
  margin-top: 10px;
}

.item-list__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}

.item-list__info-price {
  font-weight: bold;
}
.write-btn {
  position: fixed;
  bottom: 160px;
  right: 60px;
  background-color: #fe6f0f;
  color: white;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
}

.media-info-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  opacity: 1;
}

@media screen and (max-width: 380px) {
  .media-info-msg {
    opacity: 0;
  }
}
